<h1> Departments </h1>
<% @departments.each do |d| %>
  <h3><%= d.name %>
  <%= d.floor %></h3>
  <% @employees.each do |e| %>
    <% if e.department_id == d.id %>
      <p><%= e.name %></p>
    <% else %>
    <% end %>
  <% end %>
<% end %>
